.loader-container {
    width: 100%;
    height: 100%;
    background: var(--transparent-blue);
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-container > img {
    z-index: 10;
    height: 80px;
    width: auto;
    position: absolute;

    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}